/* ============================================= */
/*              Color Variables                      */
/* ============================================= */

$brand-color-primary: #58e1c1;
$brand-color-secondary: #51ddfc;
$main-text-color: #777;
$btn-txt: #fff;
$col-3-color: #deb2ee;

/* ============================================= */
/*              Media Query Variables                      */
/* ============================================= */

$breakpoint: 768px;

/* ============================================= */
/*              Layout Variables                      */
/* ============================================= */

$max-width: 14000px;